/* TEXT */
/* OVERALL STYLING and flipping cards animation */

h3 {
	margin-bottom: 40px;
	font-family: 'Lora';
	font-style: italic;
}

h2 {
	text-align: center;
	font-family: 'Montserrat';
}

/* FORMATTING */

body {padding: 25px 0 50px;background-color: #f3f3eb;color: #333;}
ul {list-style: none; padding: 0;}
ul li {text-align: center;}

ul.loaders>li {
	padding: 20px 0;
}

/* FLIPPING CARDS */

.cards {
	width:170px;
	height: 50px;
	margin: 0 auto;
}

.card {
	float: left;
	width: 50px;
	height: 50px;	
	margin: 0 auto;
	margin-left: 5px;
	background-color: #558a86;
}



/* ANIMATION EFFECTS */

.spinX {
	-webkit-animation: spinX 2s ease-in-out infinite alternate;
			animation: spinX 2s ease-in-out infinite alternate;;
}


.spinY {
	-webkit-animation: spinY 2s ease-in-out infinite alternate;
			animation: spinY 2s ease-in-out infinite alternate;;
}

@-webkit-keyframes spinY {
	100% {
		-webkit-transform: rotateY(180deg); /* Safari */
    	transform: rotateY(180deg);
    	background-color: #08327d;
	}
}

@-webkit-keyframes spinX {
	100% {
		-webkit-transform: rotateX(180deg); /* Safari */
    	transform: rotateX(180deg);
    	background-color: #08327d;
	}
}
